body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.calculator {
  display: inline-block;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
}

#display {
  width: 160px;
  height: 30px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 18px;
}

button {
  width: 35px;
  height: 35px;
  margin: 2px;
  font-size: 16px;
}
